@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: hsl(233, 47%, 7%);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  position: relative;
  display: flex;
  margin: 0 180px;
  color: white;
}
h1 {
  letter-spacing: 1px;
  padding: 0 0 30px 0;
}
span {
  color: hsl(277, 64%, 61%);
}
.containerdos {
  width: 50%;
  background-color: hsl(244, 38%, 16%);
  padding: 70px 80px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.textdos {
  color: #9b9b9b;
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 15px;
}

.imagen {
  width: 50%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.containertres {
  display: flex;
  margin: 70px 0 0 0;
  background-color: hsl(244, 38%, 16%);
}

.dos {
  margin: 0 5rem 0 0;
}
.text {
  color: #9b9b9b;
  margin: 0 2rem 0 0;
  font-size: 10px;
  padding: 0.5rem 0;
}
.opacity {
  height: 464px;
  width: 540px;
  background-color: blueviolet;
  position: absolute;
  opacity: 0.4;
  left: 561px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

@media (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    margin: 4rem 5%;
  }
  .containerdos {
    width: 100%;
    padding: 0%;
    text-align: center;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 0;
  }
  h1 {
    margin: 2rem 0;
  }
  .textdos {
    margin: 0.5rem 0.5rem;
    line-height: 25px;
    color: hsla(0, 0%, 100%, 0.75);
  }
  .text {
    color: hsla(0, 0%, 100%, 0.75);
    margin: auto;
  }
  .dos {
    margin: auto;
  }
  .containertres {
    display: flex;
    flex-direction: column-reverse;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .imagen {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 0;
  }
}
